[2019-03-05 07:23] krisnailafat opened #1 "ProgressSteps direction"
does it support vertical / horizontal directionÏ

[2019-03-07 06:17] colbymillerdev commented on #1
At this time, there is only support for a horizontal step direction. I will consider this for a future feature release. Thanks for asking about this!

[2019-03-07 07:38] yuskamal opened #2 "Rockwell Font"
fontFamily "rockwell" is not a system font and has not been loaded through Font.loadAsync

[2019-03-07 15:06] colbymillerdev commented on #2
I believe this is an issue with using Expo and custom fonts, not this component. However, "rockwell" should not be the default font in this component due to these issues. So I will make that fix later tonight.

A quick fix for right now is to just pass a system recognized font to the ProgressSteps component using the `labelFontFamily` prop.

[2019-03-07 15:08] colbymillerdev commented on #2
I believe this is an issue with using Expo and custom fonts, not this component. However, "rockwell" should not be the default font in this component due to these issues. So I will make that fix later tonight.

A quick fix for right now is to just pass a system recognized font to the ProgressSteps component using the `labelFontFamily` prop.

Thanks for bringing this issue to my attention!

[2019-03-08 04:33] #2 closed

[2019-03-08 04:48] colbymillerdev commented on #2
The "rockwell" font has been removed as the default, so this issue should be resolved.

If you don't want to use the iOS/Android default font, set a new font using the `labelFontFamily` prop on the `ProgressSteps` component.

This repo has a good list of available fonts for React Native: [https://github.com/react-native-training/react-native-fonts](https://github.com/react-native-training/react-na

[2019-03-09 10:50] yuskamal opened #3 "Intercept onNext for validation"
it's posibble to intercept onNext button for validation before it's going to next step ?

[2019-03-09 17:55] colbymillerdev commented on #3
Thanks for bringing up this issue! Currently, there isn't a way to stop the onNext prop from moving to the next step when it's called.

I will add this functionality later today and push a new build once completed.

For now, the option is to disable the next button using the `nextBtnDisabled` prop until all your required validations have passed.

[2019-03-10 02:28] #3 closed

[2019-03-10 02:54] colbymillerdev commented on #3
This issue has been resolved by introducing an `errors` prop. If set to true, the next step won't be rendered when clicking the next button.

Please refer to the new "Current Step Error and Validation Handling" section in the [README](https://github.com/colbymillerdev/react-native-progress-steps#readme) file for an example.

[2019-03-31 11:21] developer-anilpatidar opened #4 "Hide Progress Button (previous, next) section"
Can we Hide footer section it's tacking much space.

[2019-04-09 12:34] mahali-a opened #6 "StepIcon Size"
Is it possible to reduce the StepIcon size and text?

[2019-04-09 15:30] colbymillerdev commented on #6
As of now they are set to a fixed size. I will look into adding the functionality to adjust the size through props. Thanks for asking about this!

[2019-04-12 03:50] colbymillerdev commented on #4
There isn't a prop to do this, however you can pass the css property `display: 'none'` to the `nextBtnTextStyle` and `previousBtnTextStyle` props. Refer to the [https://github.com/colbymillerdev/react-native-progress-steps#button-styling-usage](Button Styling Usage) section of the readme file to see how to pass styles to these props.

[2019-04-12 03:53] colbymillerdev commented on #4
There isn't a prop to do this, however you can pass the css property `display: 'none'` to the `nextBtnTextStyle` and `previousBtnTextStyle` props. Refer to the [Button Styling Usage](https://github.com/colbymillerdev/react-native-progress-steps#button-styling-usage) section of the readme file to see how to pass styles to these props.

[2019-04-12 03:53] #4 closed

[2019-05-01 07:40] hamedhosseini33 opened #8 "go to first step"
how can after onSubmit go to first step ?

[2019-05-05 04:34] Wathsara commented on #8
A good One!! I have the Same Issue as well.

[2019-05-05 06:56] hamedhosseini33 commented on #8
onSubmit = () => {
    this.props.onSubmit && this.props.onSubmit();
    setTimeout(() => {
      this.props.setActiveStep(this.props.activeStep - this.props.stepCount )
    }, 3000);
  };

[2019-05-05 07:11] hamedhosseini33 commented on #8
onSubmit = () => {
    this.props.onSubmit && this.props.onSubmit();
    setTimeout(() => {
      this.props.setActiveStep(0);
    }, 3000);
  };

[2019-05-05 09:08] Wathsara commented on #8
It is not working. Gives a Error
`Undifined is not a function (evaluating this.props.setActivStep(0))`

[2019-05-05 09:16] Wathsara commented on #8
Worked. Thank You

[2019-05-14 07:23] ChenZhaobin opened #9 "Previous And Next Button position Bug"
When using  TextInput component ,The Previous And Next Button will show upon the keyboard

[2019-06-28 02:13] SaulNunez opened #10 "Adding a prop for bottom padding"
![Screenshot_1561687193](https://user-images.githubusercontent.com/13012976/60311833-29bb9400-9916-11e9-9a2a-0019544c441c.png)

Is it possible to change the bottom padding? This looks kinda strange.

[2019-07-03 14:57] colbymillerdev commented on #10
@SaulNunez - Are you referring to the padding below the buttons at the bottom of the screen?

[2019-07-07 17:58] SaulNunez commented on #10
Yes

[2019-07-14 00:06] meganhng commented on #8
Hi, is there a possibility of clarification on what was done. I tried to implement the solution but it doesn't seem to work

[2019-07-14 07:27] Wathsara commented on #8
First got to node_modules -> react-native-progress-steps -> src -> ProgessStep.js
 then find the onSubmit method and replace it with

[code]
the rerun the program

[2019-07-23 14:36] likeanormaldude opened #12 "Completed Step Behavior"
I was looking to your code and i was hoping if some modifications can be done on steps items behavior on the top, regarding to:

- Change default text or icon (maybe integrate it with react-native-vector-icons) in both completed step or current step and not just the current label below it.
- I was looking on the documentation and couldn't find any topic on how to set a custom step as active manual

[2019-08-26 09:28] hanaechahid opened #13 "send data between progress step views"
I have used this component to only showing a few inputs on a screen at a time, now I want to send data between the step views and I don't want how to do it.

Can any one help me in this case ?

[2019-08-29 19:47] stanica commented on #6
Seconded

[2019-08-31 02:00] hendrikrodriguezguillen opened #14 "Indicate the current step"
Is there any way to specify the current step, I have read the documentation and I do not locate it

[2019-09-01 18:48] colbymillerdev commented on #14
Hello -

This has been added in the newest version of the package. You can supply the `activeStep` prop to the `<ProgressSteps />` component.

[2019-09-01 18:48] #14 closed

[2019-09-01 18:56] colbymillerdev commented on #12
Hello -

Thanks so much for your great suggestions! Please see below for my comments:

- I will be looking into adding the functionality to change the step text to icons for a future release.

- This has now been fixed in the most recent version of the package. You can add the `activeStep` prop to the `<ProgressSteps />` component.

- There isn't any current functionality to allow the step icons t

[2019-09-01 18:56] #12 closed

[2019-09-01 18:57] #1 closed

[2019-09-12 16:37] Buumu opened #15 "Current Step Index"
How can I determine the current active step?

[2019-09-13 14:33] suhas1602 commented on #14
activeStep prop doesn't seem to be working for me?

[2019-09-30 03:11] berserkerChrist opened #16 "Trigger onNextStep method with custom button"
I'd like to know if there's a way to trigger onNextStep method with a custom View element that's inside a step

Example:

<View onPress={ //onNextStep() call goes here }>
   //Element
</View>

Thanks!

[2019-11-20 17:50] jeyarruda commented on #15
You can set active step in state and control by yourself :D

[2019-11-20 17:52] jeyarruda commented on #16
https://github.com/colbymillerdev/react-native-progress-steps/issues/15#issuecomment-556167242

And in this case, you can change only the state of progress step with your custom view 👍 🇧🇷

[2019-11-20 17:53] jeyarruda opened #19 "Click in step icon to change"
Is there any way to change the steps clicking in any step?

[2019-12-01 14:45] mariomurrent-softwaresolutions commented on #19
Do you mean to add an icon to next/previous/finish button?

[2019-12-01 14:46] mariomurrent-softwaresolutions opened #20 "Icons for next/previous/finish button"
Is it possible to add icons to the progress bar buttons?

[2019-12-01 23:39] colbymillerdev commented on #19
No, currently you can't click on a step icon to change to that step. That is definitely something that can be implemented in a future release or PR though!

[2019-12-01 23:39] #19 closed

[2019-12-01 23:49] colbymillerdev commented on #20
Great question Mario - Currently the steps don't support adding a custom icon instead of a number.

However, that is a feature I have been wanting to implement in an upcoming release to bring more customization to the project. I'll keep you updated on when this gets implemented!

[2019-12-01 23:49] #20 closed

[2019-12-11 12:38] vivekkumar16 opened #21 "Change width of entire stepper container"
How can I change the width of entire ProgressSteps container? Is it possible?

[2019-12-16 03:39] rauan100 opened #22 "FlatList into progressStep component"
I have a problem when a use a flatlist in ProgressStep. I think this problem solve, if you use SafeAreaView instead of scrollView in ProgressStep.

I am use react-native 0.61.5.

[2019-12-16 19:02] LucasHimelfarb opened #23 "prop 'borderStyle' is not working"
prop 'borderStyle' is not working for < ProgressSteps props... />

[2019-12-17 21:13] zapcriativo opened #24 "Axios request change currentStep"
Hi,

I have a ajax call with axios, when return complete i need to change current step, But in changing the state nothing happens. How can I do this?

[2019-12-19 06:22] chathuraedirisingh commented on #24
Same here. I declared & init activeStep in state and increment the value on next button press. after submit i want to go to first step(index = 0).  But nothing happens.

[2019-12-19 15:10] LucasHimelfarb opened #25 "how to change icon on complete step and how to change border style on progress line"
how to change icon on complete step and how to change border style on progress line...

I need to achieve something like that...

![this](https://user-images.githubusercontent.com/46998551/71184688-e6086e00-2258-11ea-84f7-f20f5db395a4.png)

[2019-12-19 15:10] LucasHimelfarb commented on #25
how to change icon on complete step and how to change border style on progress line

[2020-01-08 05:26] #16 closed

[2020-01-08 05:30] berserkerChrist commented on #22
I used SafeAreaView instead of ScrollView in ProgressStep component but didn't work. Any ideas on how to solve this?

I'm getting this warning:

VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead.

[2020-01-08 05:57] rauan100 commented on #22
It Works for me, can you send me the render code? Please

[2020-01-17 22:32] harishchopra86 commented on #24
You can do this by creating a reference of progress steps.
Declare a progressSteps variable like this in your component:
[code]

Then in render method create reference to this variable like as follows:
[code]

Then you can set active step like this

[code]

I don't know if this is right method or not but I have done it this way.

[2020-01-27 08:30] hanaechahid commented on #24
Hi, I have the same problem, I call an axios request when I click next button when the request returns a success response I change the errors props to false to pass to the next step but didn't work I need to click on it many times then it passes to the next.

@zapcriativo, @harishchopra86 @chathuraedirisingh  did you solve the problem?

[2020-01-27 09:40] hanaechahid opened #26 "change current step"
Hi, I call an axios request in the first step when I click next button and then the request returns a success response I change the errors props to false to pass to the next step but didn't work I need to click on it many times then it passes to the next.

How can I fix that?
thank you

[2020-01-27 12:29] hanaechahid commented on #26
@colbymillerdev help please!

[2020-01-29 04:35] #15 closed

[2020-01-29 05:02] colbymillerdev commented on #22
@berserkerChrist Seems that warning started happening with a recent version of React Native. It is being thrown because the `FlatList` and `ScrollView` have a redundant scrolling behavior (In this case, both are scrolling vertically).

I can't remove `ScrollView` because it will break the scrolling behavior for anyone not using a `FlatList` in their implementation.

[2020-01-29 05:02] #22 closed

[2020-01-29 05:20] colbymillerdev commented on #23
This seems to be a known issue with React Native and border styles. I'll continue to look into this to see if I can find a good solution.

[2020-01-29 05:34] colbymillerdev commented on #25
Currently the icon on a completed step can't be changed. However, this feature is planned to be implemented in a future release. I will let you know once that functionality is available.

For the border style, there is a current issue with React Native that's preventing it from being changed. I am looking into it now and will hopefully have a workaround/solution shortly.

[2020-01-29 05:35] #25 closed

[2020-01-29 05:54] colbymillerdev commented on #26
@hanaechahid Can you post the code when you get a chance so we can try to determine where the issue is occurring?

[2020-01-29 05:59] colbymillerdev commented on #24
Hello Everyone - Can you please post any code snippets that can help with debugging this issue?

[2020-01-29 06:06] colbymillerdev commented on #13
Hello - This can be done with any of the standard React / React Native practices. For example, you can use state/props as well as callbacks to pass data between your components.

[2020-01-29 06:06] #13 closed

[2020-01-30 08:45] hanaechahid commented on #26
Hi @colbymillerdev , here is some code:

[code]
thanks,

[2020-01-31 14:19] levu304 commented on #10
From ProgressButtons.js, change to this

`const ProgressButtons = props => (
  <SafeAreaView style={{ flexDirection: 'row', paddingHorizontal: 20, paddingVertical: 10 }}>
    <View style={{ flexGrow: 1, alignItems: 'flex-start' }}>{props.renderPreviousButton()}</View>
    <View style={{ flexGrow: 1, alignItems: 'flex-end' }}>{props.renderNextButton()}</View>
  </SafeAreaView>
);`

[2020-02-03 16:09] hanaechahid commented on #26
@colbymillerdev could you tell me what is wrong with me ?!!!!!!!!!!

[2020-02-03 16:33] colbymillerdev commented on #26
@hanaechahid Couple questions to help give me more context..

1. Is `this.props.addNewUser` an asynchronous function?

2. Is the `errors` state defaulted to `false`? The `onNext()` function won't change to the next step if `errors = { true }`

[2020-02-03 16:54] hanaechahid commented on #26
this is the add new user function:
[code]

[2020-02-18 13:44] rajisundaram-s opened #27 "how to change current step when button click"

[2020-02-18 14:31] colbymillerdev commented on #27
Hi @rajisundaram-s - The component is setup to move to the next step on it's own when the button is clicked. You can also pass a custom function to the `onNext` prop for each `<ProgressStep />` that will get called when moving to the next step.

[2020-02-18 14:31] #27 closed

[2020-02-27 14:06] SPineapple commented on #26
Hello, I am having the same issue, like in a confirmation form, it will not let me pass the next step even if i set the errors to False :

`onNextStep= () => {
    if (list.length != 0) {
      set_errors(true); // stay on the same page
      Alert.alert(
        "Confirmation",
        "Are you sure you got all the books you want?",
        [
          {
            text: "Cancel",
            on

[2020-03-02 13:31] chenyaw0728 commented on #26
@hanaechahid

I try to set a loading , can be able to solve this issues. maybe you can try it also.

_updateStep(){
   this.setState({ loading:false, current_step : this.state.current_step })
}
render(
     if(this.state.loading) return null;

    return (
       <ProgressSteps activeStep={this.state.current_step}>
          <ProgressStep
             onNext={()=>this.setState({loading:true},()=>t

[2020-03-09 06:10] keyurpatel8118 opened #28 "How to propagate to previous step manually by pressing on (cancel)button of Alert message."
### Prevent Moving to Next Step when Cancel Button is Pressed
[code]

[2020-03-09 06:25] michaelVictoriaDev commented on #28
Hi, did you see this docs ?
**Current Step Error and Validation Handling**
The errors prop should be used if there's a need for validation and error handling when clicking the next button. If you would like to prevent the next step from being rendered, set the errors prop to true. By default, it will be false.

Example usage of validation check:
[code]

[2020-03-09 11:45] keyurpatel8118 commented on #28
Actually, in that I am facing an issue where the state in React being not changing instantly. Therefore, the previous value of the state is being passed on as arguments to the <**ProgressStep**> and hence the application is not working as intended.

[2020-03-12 09:16] gate3 commented on #9
Also facing this issue.

[2020-03-18 12:31] keyurpatel8118 opened #31 "Want to customise into a Dynamic React Native Stepper"
In this stepper, the issue I am running with is, the number of steps to be provided to the stepper is obtained at run time (dynamic). Hence, in this case, how should I progress. Can anybody help?

[2020-03-23 16:22] angelomedina opened #32 "Invalid props.style key `textAlign` supplied to `View`"
"react-native-progress-steps": "^1.2.9",Implementing errorWarning:

Failed prop type: Invalid props.style key `textAlign` supplied to `View`.Bad object: {  "transitionProperty": "opacity",  "transitionDuration": "0.15s",  "userSelect": "none",  "cursor": "pointer",  "touchAction": "manipulation",  "textAlign": "center",  "padding": 8}Valid keys: [  "animationDelay",  "animationDirection",  "animat

[2020-03-24 14:48] papadi opened #33 "No type definitions available"

[2020-03-24 15:38] papadi opened #34 "Back button on android does not trigger Previous functionality"

[2020-03-24 18:18] MateusCastro opened #35 "Control the step change by ProgressStep components"
Change of control step by parent component. In my ProgressStep, there is a button that calls a route from my API, if it works, the Steps will need to call the next step.

[2020-03-25 00:51] colbymillerdev commented on #33
Hello - The prop types are defined in the [README](https://github.com/colbymillerdev/react-native-progress-steps#readme) and also in each components code.

[2020-03-25 00:51] #33 closed

[2020-03-25 01:00] colbymillerdev commented on #32
Hello - What is the exact issue you are experiencing? It is difficult to determine based on this output.

[2020-03-25 01:02] colbymillerdev commented on #28
Hello - Thanks for the question! I am closing this issue since it does not seem to be a bug with this project.

[2020-03-25 01:02] #28 closed

[2020-03-25 01:05] colbymillerdev commented on #9
Hello - Can you provide an example to recreate this issue?

[2020-03-25 01:06] #24 closed

[2020-03-25 01:07] colbymillerdev commented on #31
Hello - Can you explain a bit more about what you're trying to achieve? Thanks!

[2020-03-25 01:08] colbymillerdev commented on #34
Hello - Thanks for opening this issue! I will look into this to see if I can reproduce it.

[2020-03-25 01:18] colbymillerdev commented on #35
Hello - Thanks for opening this issue! You can try using and updating the `activeStep` prop on the `<ProgressSteps />` component.

[2020-03-25 18:06] MateusCastro commented on #35
activeStep allows you to start the component on a specific screen; if I change activeStep, the component will not be rendered because ProgressSteps manages the state. I did a fork to solve my problem, but I already send it as a pull request

[2020-03-25 18:21] colbymillerdev commented on #35
Ah sorry! I think I misunderstood your original question. Didn't realize you were trying to change steps without using the button onPress.

I don't see a PR from you currently, but if you open one I'll review and see if it makes sense to merge it in!

[2020-03-27 19:28] mariomurrent-softwaresolutions opened #36 "Scrollable progress steps"
If there are more than 5 steps, the step bar is not rendered correctly and the two outer circles are cut off.

[2020-04-01 16:55] curtismenmuir opened #39 "react-native-progress-steps Prop updates"
Hi there,
Thanks for publicly sharing this repo! ❤️

I am needing the following updates:
- Prop to set the completed labels font color (separate to the disabled label color)
- Prop to completely hide the ProgressStep buttons
- activeStep updated so that it supports changing values
-  A prop so that all Steps can be set to complete stage (all showing the completed tick).
-  A prop so that all Steps

[2020-04-01 16:55] curtismenmuir commented on #39
Added PR with fixes for all: https://github.com/colbymillerdev/react-native-progress-steps/pull/38

[2020-04-01 16:56] curtismenmuir commented on #39
Happy to split PR if required

[2020-04-01 16:57] curtismenmuir commented on #35
I have added a PR which addresses this issue (along with some others): https://github.com/colbymillerdev/react-native-progress-steps/pull/38

[2020-04-01 21:13] curtismenmuir commented on #39
Working on PR for this, will send across when ready

[2020-04-01 22:54] curtismenmuir commented on #39
PR: https://github.com/colbymillerdev/react-native-progress-steps/pull/38

[2020-04-01 22:56] curtismenmuir commented on #35
I have a fix this issue (along with other issues) in a PR: https://github.com/colbymillerdev/react-native-progress-steps/pull/38

[2020-04-02 02:20] colbymillerdev commented on #36
Thanks for bringing up this issue! I will take a look into it as soon as I can 🙂

[2020-04-02 02:22] colbymillerdev commented on #39
I am going to close this issue so we can continue conversation in the PR 🙂

[2020-04-02 02:22] #39 closed

[2020-04-02 05:33] keyurpatel8118 commented on #31
Basically I was trying to say that the number of steps in the stepper would be known to me during the run time of App. And for the same I was asking a solution.
But finally I could achieve this using **Map** in javascript.
Thanks!

[2020-04-02 05:33] #31 closed

[2020-04-05 12:51] haroldocampo commented on #21
Yeah, it would be nice to have a fullWidth option.

[2020-04-06 14:32] baryanuka commented on #21
is it possible to do?

[2020-04-06 14:36] baryanuka opened #40 "hi. how can i flip the horizontal direction of the steps? couldnt find it."

[2020-04-06 23:21] colbymillerdev commented on #40
Hello -

Currently the steps can only be aligned horizontally. There isn't an ability for vertically aligned steps at this time.

[2020-04-06 23:21] #40 closed

[2020-04-07 06:45] baryanuka commented on #40
hi colby thank u for your answer. what i meant is to flip just the direction from horizontally right to left and horizontally left to right.  is there any option to do it? right now it let me only use it right to left not like in your example and i dont understand why?   thx again

[2020-04-07 21:51] baryanuka commented on #40
i have another question please. how can i reduce the space between the next/previous buttons to the steps bar

[2020-04-09 06:55] pavinduLakshan opened #41 "configure line length between two progress steps"
I want to customize the line length between two progress circles. Its current behaviour is as follows.

![image](https://user-images.githubusercontent.com/41533942/78866392-ea050980-7a5c-11ea-918f-afb7cc0ae1c3.png)

I want to increase the length between 1 and 2 so that *select vegetables* spreads over the display well, however, I didn't find anything in the docs for that

[2020-04-09 07:15] 15110011 commented on #35
I've setState activeStep but it still dont rerender. Does it work?

[2020-04-09 07:53] curtismenmuir commented on #35
@15110011 my PR has been merged but a new build has not been released to NPM / Yarn. @colbymillerdev do you know when this will be done?

[2020-04-09 13:55] colbymillerdev commented on #35
@15110011 @curtismenmuir I'm gathering up a few more changes before pushing out the next release, but should have it out shortly

[2020-04-10 09:51] 15110011 commented on #35
@curtismenmuir So how to pull the lib, could you give me the package name? I dont know how to pull from PR. Could you guide me?
@colbymillerdev I really need active step now, so try to merge it for release as soon as you can. Thank you xD

[2020-04-10 10:18] curtismenmuir commented on #35
@15110011 if you need to test changes locally for now then you could pull my PR:
1. Remove lib if previously installed
2. Add `"react-native-chart-kit": "git+https://github.com/curtismenmuir/react-native-progress-steps.git",` to your package.json
3. Install with yarn / npm install.

TBH I would recommend waiting for @colbymillerdev to release the package as this should not be done in production.
I

[2020-04-11 04:40] colbymillerdev commented on #35
Sorry for the delay, but the newest release including these changes is now published on NPM.

https://github.com/colbymillerdev/react-native-progress-steps/releases/latest

[2020-04-11 04:40] #35 closed

[2020-04-17 11:06] hanaechahid commented on #26
@chenyaw0728 thank you, but didn't work for me

[2020-04-21 17:40] katherineTuz commented on #41
Yes please i need the same! Any updates?

[2020-04-25 01:34] lcmr commented on #32
Hi, i had the same error, to fix it, just go to the ProgressStep.js, find the function renderNextButton and renderPreviousButton and remove this **textAlign: 'center'** in the styles

[2020-04-26 01:55] angelomedina commented on #32
Hi ??, thanks so much for this tip.On Fri, Apr 24, 2020 at 7:34 PM Luis Mendez <notifications@github.com> wrote:
Hi, i had the same error, to fix it, just go to the ProgressStep.js, find the function renderNextButton and renderPreviousButton and remove this textAlign: 'center' in the styles

?You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or

[2020-04-28 06:12] mustafaqutbuddin opened #44 "How to go next/previous by own custom button"
How to go to the next/previous step upon pressing our own custom button?

I tried using refs, but It ain't working.

[2020-04-28 10:57] #44 closed

[2020-04-28 17:15] BStenfors9119 commented on #9
Having the same issue as well.  Here is a screenshot where I am on step 1 but the keyboard covers the "Next" button.

In another screen of mine I was having this issue and was able to apply the "KeyboardAvoidingView" provide by the "react-native" library.

Maybe could do the same?  Or possibly open up the whole "action row" to be styled as one component/container?

![Screen Shot 2020-04-28 at 10 1

[2020-04-28 18:10] BStenfors9119 commented on #9
Decided to play around with it myself to see if what I suggested was even an option.
Here is a rough first idea that seems to work.

`import React from 'react';`
`import {KeyboardAvoidingView, Dimensions, Platform, View} from 'react-native';`

`const windowHeight = Dimensions.get('window').height;`
`const actionRowPosition = (windowHeight * .10);`

`console.log(actionRowPosition);`

`const Progres

[2020-05-07 14:32] cybercoder opened #45 "wrapping progress step with formik is impossible."
wrapping progress step with ```formik``` is impossible.

[2020-05-08 03:29] colbymillerdev commented on #45
Hello @cybercoder -

The `<ProgressStep />` component should be the parent that wraps the content you wan't displayed inside of each step. In this case, try placing the Formik component inside of the desired `<ProgressStep />` tag.

[2020-05-08 03:32] #32 closed

[2020-05-11 07:44] cybercoder commented on #45
If ```Formik``` being the child, then we need context api to handle enable/disable Next/Prev buttons. So i made some patches in your component and it's working for me.

[2020-05-11 07:46] #45 closed

[2020-05-11 14:06] colbymillerdev commented on #45
@cybercoder Ok awesome! That's great to hear. Feel free to open a PR with any changes if you think they'd benefit other users of the library.

[2020-05-18 19:34] netmas opened #46 "Warning Using Progress Steps VirtualizedLists should never be nested inside plain ScrollViews"
Hi! I just updated expo from sdk 35 to 37. Since that I'm getting this error:

VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead.

My code looks like this:

`<SafeAreaView style={{flex:1}}>
				<KeyboardAvoidingView
					behavior={Platform.OS === "ios" ? "padding" : "position"}
					enabled

					<Scrol

[2020-05-20 09:20] Relax594 opened #47 "[Feature Request] Add Custom Icons"
Add a prop so that you can render custom icons for each step

[2020-05-20 12:09] tudorelu opened #48 "Can Progress Steps be changed programatically?"
Hi there.
I have a slightly different use case in mind: I need the progress steps to indicate progress and stages made externally, not by the user - for example when a person orders something for delivery, the progress steps would indicate what the order status is.

 (1) Order Received -> (2) Preparing order -> (3) Ready For Delivery -> (4) En Route ...

Is there a way to programatically change th

[2020-05-20 19:33] weslei-dias-vakt commented on #45
@cybercoder How can i do this validation?

[2020-05-21 04:17] colbymillerdev commented on #47
Hello -

Thanks for requesting this feature! It is in the plans to be developed in a future release.

[2020-05-21 04:17] #47 closed

[2020-05-21 04:24] colbymillerdev commented on #48
Hello @tudorelu -

Thanks for opening this issue and considering the library for your next project! We have a prop `activeStep` on the `ProgressSteps` component that can change the current step without the need for user interaction. It would just need to be incremented whenever the next step should be shown. Theres also a `removeBtnRow ` prop on the `ProgressStep` component that can remove the but

[2020-05-22 00:10] tudorelu commented on #48
Thanks @colbymillerdev I'll give it a try today!

[2020-05-22 01:12] tudorelu commented on #48
Works like a charm! Thank you.

For reference, here's the code:

[code]

[2020-05-22 01:12] #48 closed

[2020-05-22 13:35] cybercoder commented on #45
just pass all props to lower component. i can't understand what you mean of ```validation```.

[2020-05-24 16:19] dl-husky73 commented on #46
Did you fix this issue, I am facing the same issue.  I did the first 4 steps but forgot the 5th step had a flatlist.   Wondering how you resolved?

[2020-05-24 16:20] dl-husky73 commented on #22
Can I ask if there was ever a resolution of the best way to use a Flatlist in the steps without the virtualized list view?

[2020-05-25 13:18] Nicwalle opened #49 "View instead of ScrollView in the progressStep"
It can be useful to replace the scrollView (on demand) by a simple view.

Just adding a prop to enable/disable the scrollview (+ adding a viewProps) might solve the problem.

Working on it

[2020-05-27 20:27] SPineapple opened #51 "With Formik?"
I've tried adding `Formik`  third library for forms, and it is not working for me. How can I implement this with Formik?

Help is appreciated, thanks.

This is my attempt:

`<Fragment>

      <Formik
        initialValues={{ email: "" }}
        onSubmit={(values) => {
          console.log(values);
        }}

        {(props) => (
          <View>
            <ProgressSteps>
              <Progr

[2020-05-29 17:54] dl-husky73 opened #52 "ScrollView inside ProgressStep"
I have a ScrollView inside the ProgressStep but I can't scroll to the bottom.  I have tried all sorts of settings to the ScrollView.  The Form has a TextInput that grows with content.  The form looks fine and scrolls correctly outside of ProgressStep (Part of a Wizard and then can be modified outside wizard)

I see ScrollViewProps and wondering how to manage?

[2020-05-30 01:33] colbymillerdev commented on #51
Hi @SPineapple !

The Formik component should be placed inside of a `ProgressStep` so that it can be displayed on that step. Please take a look at issue #45 when you get a chance, it was discussed there.

[2020-05-30 01:33] #51 closed

[2020-05-30 01:39] colbymillerdev commented on #52
Hi @dl-husky73 !

The `ProgressStep` component already uses a ScrollView internally, so you shouldn't need to place another ScrollView inside of it. Try removing the one added and see if that helps.

[2020-05-30 01:41] dl-husky73 commented on #52
That worked!  Thanks.  I like this package, making a great registration wizard, thanks for the great work.  Also, I saw the pr on view instead of ScrollView, I have a flatlist that is giving me a warning.  Can you push that commit?

[2020-05-30 02:01] colbymillerdev commented on #52
@dl-husky73 Thats great to hear! Glad you're finding it useful and thanks for choosing to use it in your project 🙂

I am taking a look at that PR now. I'll get it merged and push a new release to npm shortly.

[2020-05-30 02:29] colbymillerdev commented on #52
Version 1.3.3 of the package has been published to npm. I'm also going to go ahead and close this issue.

[2020-05-30 02:29] #52 closed

[2020-05-30 02:30] colbymillerdev commented on #49
Closing this since PR #50 has been merged.

[2020-05-30 02:30] #49 closed

[2020-05-30 02:31] colbymillerdev commented on #46
Hello -

This should now be fixed by adding the `scrollable={false}` prop to the `ProgressStep` component. This will replace the ScrollView with a View internally. Refer to PR #50 for the code change.

[2020-05-30 02:31] #46 closed

[2020-05-30 02:36] dl-husky73 commented on #46
Awesome!  I will try it tomorrow morning and let you know outcome!  Again, thanks for all the hard work.

[2020-06-02 08:35] davStar opened #53 "Recommendation Pass Data from a Screen to another"
Hello,
I need to pass data from a screen of the steppers to another.

As in React-native is not possible to pass data from child to parents.Is it possible to link the steppers with react-navigation.

 What are the recommendation to pass data from a Progress STep screen to another.

See my code:

`export default class SinisterSteps extends React.Component{

  ...
    render(){

        return(

[2020-06-09 22:25] uokitomer opened #54 "'btnStyle' in TouchableOpacity component causing errors in web browser"
Hello!,

I am very new at React native, so I am not sure if this is an issue or if I am doing something wrong but I am getting an error when loading my expo app in web and it's coming from this line [here](https://github.com/colbymillerdev/react-native-progress-steps/blob/c7b19f092132147126b4826d83a8a9d5c5bc0a80/src/ProgressSteps/ProgressStep.js#L50)

This is the error

![image](https://user-image

[2020-06-12 19:25] cybercoder commented on #45
I did made the patch in previous version, I have no idea how i can make a PR with the patch in the new version. So i send you the patch file.

[react-native-progress-steps+1.3.0.txt](https://github.com/colbymillerdev/react-native-progress-steps/files/4772804/react-native-progress-steps%2B1.3.0.txt)

[2020-06-12 19:36] cybercoder commented on #45
Here is how i did handle formik:

This is the Wizard component:
[code]

And a example step using ```formik```, ```yup``` and ```redux``` is like this:

[code]
Theres ```formik``` mistakes by me where must use ```setValue``` to handle fields value updates but i did them directly, which not related to this topic.

[2020-06-13 10:09] ninoespina36 opened #55 "Label or Title text size"
Hello, is there any prop to change the font size of the ProgressStep label? I don't see it on the documentation. thank you

[2020-06-13 16:40] YuvApps opened #56 "Add option for inner "Next""
hey,

I'd like to use your "Next" and "Previous" buttons' logic in my inner child of "Progress Step" but I couldn't figure out how to do that..

I'd like for your help.
Thanks

[2020-06-13 18:00] AndresMontoya03 commented on #56
+1

[2020-06-14 09:18] ralppppy opened #57 "How to have "keyboardShouldPersistTaps" functionality?"
I have a button inside as a child how to persist tap even if the keyboard is open?

[2020-06-14 09:22] ralppppy commented on #57
Okay, I'm Sorry. I did not see the scrollViewProps.

[2020-06-14 09:22] #57 closed

[2020-06-16 04:04] tj-vaneerten opened #58 "Dynamically add new steps"
Looking for a way to dynamically add a new ProgressStep. I have a use case with a step that is only required based on some logic in a previous step. I've tried conditionally rendering the new ProgressStep child within the ProgressSteps, but the new step does not show.

[2020-06-16 06:02] colbymillerdev commented on #55
Hi @ninoespina36 - The label font size is not currently a customizable option. I will work on adding a prop so that this can be accomplished. Thanks for opening this issue!

[2020-06-16 06:30] saravanasd commented on #55
If the label font size is customizable it will be very usefull
Thanks @colbymillerdev

[2020-06-16 12:01] dmlux opened #59 "TypeScript support"
Is it possible to add TypeScript support to this package?

[2020-06-20 03:04] MohamedCoder opened #60 "how i can change direction to RTL?"
i want to steps move from right to left

[2020-06-24 03:23] colbymillerdev commented on #60
Hello - This is not a currently supported functionality of the package

[2020-06-24 03:23] #60 closed

[2020-06-24 03:25] colbymillerdev commented on #59
Hi @dmlux - There hasn't been a current plan to add TypeScript to the package, but it's something I'll look into!

[2020-06-24 03:25] #59 closed

[2020-06-24 03:28] colbymillerdev commented on #56
Hello - The `onNext` and `onPrevious` props can be used on the `ProgressStep` component to call the next/previous buttons.

[2020-06-24 03:28] #56 closed

[2020-07-01 03:25] colbymillerdev commented on #55
Hello @ninoespina36 - Sorry for the delay with getting this added, but it is now available in the newest release of the package (v1.3.4). You can use the `labelFontSize` prop to change the size of the step icon labels. An `activeLabelFontSize` prop has also been added so that the active step label can be set to a different size than the others.

https://github.com/colbymillerdev/react-native-progr

[2020-07-01 03:25] #55 closed

[2020-07-15 10:57] hanaechahid opened #61 "show dynamically the steps"
hello, I have quizz array and i want to show the steps depending on the length and content of the array.
So what I did is:

[code]
but I get this error :

can anyone help me?!

[2020-07-16 10:35] hanaechahid commented on #61
@colbymillerdev help please !!!

[2020-07-23 13:54] grkemtneri opened #63 "how we can reset step ?"
I want that I can press submit button and  ProgressSteps component reset all steps

[2020-07-27 16:04] witnessinvoice commented on #6
any news on this ?

[2020-07-27 16:58] colbymillerdev commented on #6
Hello! I haven't implemented this as of yet. It's on my list to look into. If anyone wants to take a shot at working on it, I'd be happy to review a PR!

[2020-08-11 15:12] coe720 opened #64 "Removing view/scrollview"
Is there a way to remove the view/scrollview? I'm just looking to use the progress stepper without any content. I tried passing in {height: 0} to both the viewProps and scrollViewProps on the ProgressStep component.

[2020-08-19 07:06] #63 closed

[2020-08-19 21:27] Varshisri opened #65 "Button Issue"
So right now you have two buttons and is there a possibility to add one more button like say cancel in your button row itself.
One more thing is that in first step the previous button is always disabled even if i use the prevbtndisabled = false.

[2020-08-26 11:34] Dheyson opened #66 "Is there a way to set a leftOffset?"
Hi,

Sorry for the question. I read the docs, saw the topOffset attribute. So the question get into my mind.

Can anyone answer this?
Or if heard any other issue related.

ps. Could I custom the progress step label with a customizable component?

Thanks :).

[2020-08-27 21:13] OsainAbitia opened #67 "Restart stepper on submit"
Hi! I'm trying to restart stepper when the user press the submit button in final step, I've tried updating the currentStep with useState but isn't rendering. Am I missing something?

Thanks in advance!

[2020-08-29 00:24] #66 closed

[2020-09-14 07:04] SopoB commented on #36
@colbymillerdev Any update ? :-)

[2020-10-22 09:31] ridhuandaud commented on #41
Have you found the solution yet?

[2020-10-27 21:49] WilbertJanney commented on #9
Having this issue too in 1.3.4. This hasn't been fixed yet.

[2020-11-02 18:27] elielcena commented on #67
UP!

[2020-11-12 02:56] edwinsmasher commented on #67
<ProgressSteps activeStep={this.state.currentStep}>
</ProgressSteps >
onSubmit => set currentStep to 0

[2020-11-17 12:05] daviddossantos commented on #34
Hello, I have this problem, some solution at the moment?

[2020-11-19 01:23] mhrjnamar opened #68 "can we customize icon inside is progress steps?"
Theres a tick icon when moving to next step

[2020-11-20 21:03] yahyaizala opened #69 "is there a way hide step numbers?"
Hi, I need to hide step numbers in circles. Is there a method or anything else?

[2020-11-26 06:30] bayramimamoglu opened #70 "When I use Flatlist in it, I get the following error?"
When I use Flatlist in it, I get the following error?

"VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead"
![error26](https://user-images.githubusercontent.com/75049163/100315614-faf19380-2fc9-11eb-9112-ee310d6cf622.png)

[2020-12-08 16:08] ariesbrylle-bms opened #71 "Text not showing on IOS"
![image](https://user-images.githubusercontent.com/22163768/101508364-87c92380-39b2-11eb-9cd8-067341d2e36d.png)

Here's my Code:

             `<View style={{ flex: 1, backgroundColor: "white" }}>
			<ProgressSteps
				activeStep={stepNo}
				progressBarColor={CONSTANTS.PRIMARY_COLOR}
				activeStepIconBorderColor={CONSTANTS.PRIMARY_COLOR}
				completedProgressBarColor={CONSTANTS.PRIMARY_COLOR}

[2020-12-08 16:09] ariesbrylle-bms commented on #71
But on Android it's showing:

![image](https://user-images.githubusercontent.com/22163768/101508520-be9f3980-39b2-11eb-9525-a298d78865bc.png)

[2020-12-14 10:00] peteandmad opened #72 "Is there a way when go to next page it will scroll to top ?"
I had a problem while click on Next Page, If we scroll to the bottom and click next it will be at the bottom too.

how to change it to top ?

[2020-12-22 10:39] samir0067 opened #73 "incompatible with typescripte"
Hello I am working on a react native project in typescript,

`import { ProgressSteps, ProgressStep } from 'react-native-progress-steps'`

it and impossible to import the library here is the error message:

`TS7016: Could not find a declaration file for module 'react-native-progress-steps`

and the command does not work

`yarn add @types/react-native-progress-steps`

did you have a solution thank y

[2020-12-22 19:12] #73 closed

[2021-01-14 15:15] jitendrahpatwa opened #74 "Is progress steps can be used vertically"
Hi Team,

Want to know for a use case where this plugin can be used for vertically unlike step indicator it does. Please suggest if this can be used vertically with customize <ProgressStep /> and disabling previous/next buttons by business logic it than move to next ProgressStep view.

[2021-01-14 15:16] jitendrahpatwa opened #75 "Is progress steps can be used vertically"
Hi Team,

Want to know for a use case where this plugin can be used for vertically unlike step indicator it does. Please suggest if this can be used vertically with customize <ProgressStep /> and disabling previous/next buttons by business logic it than move to next ProgressStep view.

[2021-01-14 15:19] jitendrahpatwa commented on #74
Closing this because its duplicated/created in [https://github.com/colbymillerdev/react-native-progress-steps/issues/75](https://github.com/colbymillerdev/react-native-progress-steps/issues/75)

[2021-01-14 15:19] #74 closed

[2021-01-14 17:04] guilhermemoretto12 opened #76 "TextFields in different steps sharing the same data"
When I write in aTextField, the text appears in aTextField on the next step.

It only happens when I'm using an imported TextField component.

![image](https://user-images.githubusercontent.com/62073441/104925992-54e55880-597e-11eb-9778-4b17ce522648.png)
![image](https://user-images.githubusercontent.com/62073441/104925996-56168580-597e-11eb-8810-b8dafd6ee0c5.png)

Heres the code of my TextInput c

[2021-01-16 23:38] seyizh commented on #70
getting the same error

[2021-01-16 23:47] seyizh commented on #70
Add the scrollable={false} prop to the ProgressStep component

[2021-01-18 14:55] #76 closed

[2021-01-19 17:48] guilhermemoretto12 commented on #72
Having the same problem here.

[2021-01-19 18:09] guilhermemoretto12 opened #77 "Is there a way to hide the button row behind the keyboard? Or in the end of the scroll."
I would like that the previous and next buttons to stay behind the keyboard, instead of above it. Thats because the next button can confuse the user while he's filling a form whit many TextFields, and it also takes some space.

Is there a way to make the button row to behave like content of the steps, only showing in the end of the scroll?

[2021-01-24 00:05] abdodeve commented on #67
Thank you that's work for me

I added this
`const [currentStep, setCurrentStep] = useState(0);`

And at the last step
[code]

[2021-01-25 13:36] abdodeve opened #78 "Prevent next conditionally"
Hello,
How to prenvent the to go to the next step in some conditions ?

Thank you in advance

[2021-01-28 10:27] KuluGary commented on #72
Same problem.

[2021-02-05 02:41] OsainAbitia commented on #67
Great!, I'm closing this issue, thanks!

[2021-02-05 02:41] #67 closed

[2021-02-22 04:34] kazisalman commented on #75
did u find the method??

[2021-02-22 08:45] jitendrahpatwa commented on #75
Not able to found yet.

[2021-02-25 04:40] jeet-mehta commented on #44
Did you find the solution for this ??

[2021-03-02 12:44] guilhermemoretto12 commented on #78
You can use the `errors` props, as described in the documentation. https://github.com/colbymillerdev/react-native-progress-steps#current-step-error-and-validation-handling

[2021-03-05 01:58] hongweiCui commented on #41
Try to change borderWidth property o a less number.

[2021-03-18 10:17] r083rt commented on #61
Try wrap the ProgressStep in a Fragment and add quiz.name as the key.

`<ProgressSteps
       ref={ref => { this.progressSteps = ref }}
       activeStep={this.state.activeStep}>
       { this.state.quizz.map((quiz, i) => {
                return  (
                    <Fragment key={quiz.name}>
                         <ProgressStep label={quiz.name}
                                nextBtnStyle={

[2021-03-24 14:59] abdulghanitech commented on #73
Hello, @samir0067 I would like to how did you solve this issue? Because I'm facing the same issue.

[2021-03-24 15:34] abdulghanitech commented on #6
waiting for this feature!

[2021-04-05 13:23] fengshuifever opened #81 "Dynamically create Progress Steps on the fly"
Hi there,
I've seen this question asked before in the Issues area but the solutions didn't seem to work for me.
Code:
[code]
What I'm trying to do above is generate a ProgressStep for every recipe instruction that exists in that array. Unfortunately as soon as I try this, an error throws with
`undefined is not an object (evaluating '_this.props.children[i].props.label')`

This seems to be coming f

[2021-04-06 02:36] lizhurui1998 opened #82 "Couldn't find preset "module:metro-react-native-babel-preset" relative to directory "E:\\WorkDirectory\\APPNew\\app_all\\node_modules\\react-native-progress-steps""
![image](https://user-images.githubusercontent.com/58215931/113651041-dcac4a80-96c3-11eb-8356-e5358e52faf5.png)

[2021-04-21 09:49] cyrusgeyer commented on #72
I think this issue is due to the ProgressSteps component cloning the ScrollView. Just set scrollable false in all your ProgressStep components and use your own scrollable in the child.

[2021-04-22 12:25] learncodingforweb opened #83 "typescript Cannot find module 'react-native-progress-steps' or its corresponding type declarations"
Typescript support is not available as @types/react-native-progress-steps

[2021-05-23 10:54] yotamdahan opened #86 "Conditional next step isn't working properly"
Hey, I have tried to validate the step before moving to the next one.
It's partially working.

This is my states validation
[code]

And part of the return:

[code]

Each time I continue to the next step and `name` state is empty the screen is moving forward to step 2 (which isn't suppose to happen because `isValid` suppose to be false), only when I return back to step 1 and try again I'm receiving

[2021-05-23 11:58] yotamdahan commented on #86
apparently 2 states confuses the plugin, I solved it by using only error state

[code]

[2021-05-27 19:16] gamboaparedes opened #87 "Add new buttons or press function"
I have added remove removeBtnRow, to hide the buttons, I would like to know if there is a function to be able to do the same as next but using an onpress list view so that I can go to the next step

![image](https://user-images.githubusercontent.com/30382616/119884273-4cc99680-bee5-11eb-801e-d8c575f0aa8b.png)

[2021-05-28 20:44] neilbateman commented on #77
I was able to accomplish this behavior by adding an event listener to the core Keyboard component to toggle the ProgressStep prop `removeBtnRow`. https://github.com/colbymillerdev/react-native-progress-steps#progress-step-component

Something like:

`const SomeComponent = () => {
      const [buttonsVisible, setButtonsVisible] = useState(false)
      useEffect(() => {
          const showSubscript

[2021-05-31 10:29] RashVenkat6795 commented on #81
Hi @fengshuifever
Any solutions for this ?

[2021-06-17 14:16] darryl-tan opened #89 "how can I use a function work nextstep, instead of press button?"
how can I use a function work nextstep, instead of press button?
I don't want press Next button,
TKS

[2021-06-28 13:55] Ketan2010 commented on #77
Thanks @neilbateman, This worked for me

[2021-07-01 12:14] Naandalist commented on #89
Did u find the way to use function to work to next step, instead of press button?

[2021-07-09 20:56] haseeb-numu commented on #89
here's a solution might be not that good. also check out isComplete prop
`
const Example = ()=>{
  const [step,setStep] = useState(0);
  const handleStep = ()=>{
    /// your logic where you can set Step page
    setStep(2);
  }

  return(<ProgressSteps activeStep={step}>
    <ProgressStep removeBtnRow>
      step 1
    </ProgressStep>
    <ProgressStep removeBtnRow>
      step 2
    </ProgressSte

[2021-07-09 21:07] haseeb-numu commented on #81
@fengshuifever @RashVenkat6795 i had same issue couple of days ago. i think i have figured out solution, waiting for PR to get merged.[https://github.com/colbymillerdev/react-native-progress-steps/pull/91](url)

[2021-07-11 07:57] darryl-tan commented on #89
thanks bro

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "colbymillerdev/react-native-progress-steps"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月10日(星期六) 凌晨4:56
***@***.***&gt;;
***@***.******@

[2021-09-03 12:02] jbagaresgaray commented on #69
@yahyakesenek  you can hide it by setting up activeStepNumColor and completedStepNumColor the same color on the background color

[2021-10-02 12:01] yahyakesenek commented on #69
@jbagaresgaray I solved it thanks.

[2021-11-02 08:36] metinvio commented on #36
I solved it like this:

`<ScrollView
      horizontal={true}
      showsHorizontalScrollIndicator={false}
      style={{width: '100%', maxHeight: 100}}>
      <ProgressSteps>
        <ProgressStep label="First Step">
          <View style={{alignItems: 'center'}}>
            <Text>This is the content within step 1!</Text>
          </View>
        </ProgressStep>
        <ProgressStep label="Seco

[2021-11-28 10:08] yashsongara101 commented on #72
Same issue,
Please help if anyone found a way to resolve this.

[2021-12-02 12:18] mohanyadav commented on #71
@ariesbrylle-bms I am facing the same issue. Please share any workaround you got for the issue

[2022-01-13 10:06] aliraza96 opened #97 "Is there a way to make it rounded ?"
Is there a way to make this module circular ? Like this
<img width="298" alt="Screenshot 2022-01-12 at 3 38 29 PM" src="https://user-images.githubusercontent.com/59387704/149309442-a785400a-40a3-4377-b7fb-2fbadfd51ac6.png">

[2022-02-20 13:59] alisanalacam opened #98 "is there a way hide step?"
Hi, I need to hide step in progres steps. Is there a method or anything else?
i have five steps but  I don't want to show 2 steps when user is not logged in

[2022-03-03 21:16] mariovillamizar commented on #44
@mustafaqutbuddin did you find a solution?

[2022-03-06 10:14] vanajnayak opened #99 "Bottom buttons container is too big for small screens"
Can we have complete buttonContainer dynamic prop update as well similar to buttonTextStyle prop? Currently bottom: 40 is too big for small screens.

[2022-04-06 22:13] Mukthayar1 opened #100 "Change text colour of finish button?"
Change text colour of finish button?

[2022-04-20 13:10] CostaPedroHenrique commented on #23
Alguma atualização?

[2022-04-20 13:40] LucasHimelfarb commented on #23
No, you can try make a components with simple logic for this :)

[2022-05-11 13:08] anis-18 opened #101 "can't hide previous and next buttons"
properties to disable next and previous button ain't working

[code]

[2022-05-18 13:29] jsh854 commented on #101
what worked for me is this nextBtnDisabled={true} inside every progressStep whose next button you want to disable , similarly for the previous button as well
if you want to just remove the buttons you can use          removeBtnRow={true} inside every progressStep

[2022-06-15 23:52] EzePerucca commented on #99
Agree with this one, it´s very big for smaller devices,

[2022-06-24 11:07] gweatherston commented on #83
did this ever get merged into main, as it seems it didn't as its not part of the pacakge :( really want to use this packge too :(

[2022-09-03 17:11] BryanTacuri commented on #67
Hello, I have the same problem but @abdodeve  comment doesn't work for me :(. Could you help me?
I attach my code:
`const [currentStep, setCurrentStep] = useState(0);

  return (
    <View style={{flex: 1, backgroundColor: '#fff'}}>
      <ProgressSteps activeStep={currentStep}>
        <ProgressStep>
          <Text>Step 1</Text>
        </ProgressStep>
        <ProgressStep>
          <View styl

[2022-09-03 17:12] BryanTacuri commented on #67
Hello, I have the same problem but @abdodeve's comment doesn't work for me :(. Could you help me?
I attach my code:
`const [currentStep, setCurrentStep] = useState(0);

  return (
    <View style={{flex: 1, backgroundColor: '#fff'}}>
      <ProgressSteps activeStep={currentStep}>
        <ProgressStep>
          <Text>Step 1</Text>
        </ProgressStep>
        <ProgressStep>
          <View sty

[2022-09-03 17:18] BryanTacuri commented on #67
Hello, I have the same problem but @abdodeve's comment doesn't work for me :(. Could you help me?
I attach my code:
const [currentStep, setCurrentStep] = useState(0);

  `return (

    <View >
      <ProgressSteps activeStep={currentStep}>
        <ProgressStep>
          <Text>Step 1</Text>
        </ProgressStep>
        <ProgressStep>
          <View >
            <Text>
              VENTANA P

[2022-09-03 18:23] BryanTacuri commented on #63
Hello, how can I solve it?

[2022-09-14 21:07] Jordan-Voss opened #103 "Centering Check/Number?"
Is there a way I can center the check when completed or the step number? currently mine looks like this
![Screenshot from 2022-09-14 22-06-38](https://user-images.githubusercontent.com/34314581/190262657-a1e23453-088b-4c6a-ae86-159d9205f1b9.png)